i {
    color: white;
}

.body-background {
    background: url(images/main1.jpg) no-repeat;
    width: 100%;
    height: 500px;
    background-size: 100% 100%;
/*    background-position: center; */
/*
    height: 500px;
    width: 500px;
*/
}

.main {
    background-color: black;
}

.phone {
    color: white;
}

.language, .suite, .adult {
    color: black;
}

.first-navbar {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    background-color: #211F20;
    opacity: 0.8;
}

.second-navbar {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: white;
    background-color: #211F20;
    opacity: 0.9;
}

.second-navbar-list {
    color: white;
}


.third-navbar {
    font-family: fantasy;
    text-align: center;
    color: white;
    background-color: #211F20;
    opacity: 0.8;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 150px;
    padding: 12px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: black;
}

.drop {     
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;    
    color: white;
}

.contact {
    color: white;
    font-size: 16px;
}

.contact1 {
    color: white;
    font-size: 13px;
}

.right-arrow {
    align-content: right;
    color: white;
}

.sub-heading {
    font-family: sans-serif;
    font-size: 10px;    
}

.division {
    border-right: 2px solid silver;
    opacity: 0.7;
}

.welcome-message {
    font-family: 'Acme', sans-serif;
    color: black;
    text-align: right;
    padding-right: 25%;    
}

.line {
    height: 30px ;
}

.button {
    background-color: transparent; 
    color: white; 
    border: 2px solid white;
}

.arrival {
    background-color: Transparent;
     color: white; 
    border: 2px solid white;
}

.calendar {
    font-family: 'Acme', sans-serif;
    color: white;
}

.drop2 {    
    background-color: Transparent;
    background-repeat:no-repeat;
    border: 4px solid white;
    cursor:pointer;
    overflow: hidden;    
    color: white;
}

.button2 {
    background-color: darkgoldenrod; 
    color: white; 
    border: 2px solid white;
}

.button3 {
    color: white; 
    border: 2px solid black;
    border-radius: 50px;
    padding: 4px;
}

.borders:hover {
    border-top: solid 2px #996515;
}

.headings {
    text-align: center;
    font-family: 'Acme', sans-serif;
    color: whitesmoke;
}

.underline {
    margin-left: 47%;
    margin-right: 47%;
    border-color: #996515;
}

.view-room {
    text-align: center;
    align-content: center;
}

.left-arrow { 
    width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-right: 10px solid white;
	border-bottom: 5px solid transparent;
}

.right-arrow {
    width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-left: 10px solid white;
	border-bottom: 5px solid transparent;
}

.room {
    width: 100%;
    height: 90%;
    border: 3px solid silver;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}
 
.room-name {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
}

.video1 {
    border: 1px solid silver;
}
