i {
    color: white;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.positioning {
    position: absolute;
}

.main {
    background-color: black;
}

.link-color {
    color: white;
} 

.language, .suite, .adult {
    color: black;
}

.first-navbar {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    background-color: #211F20;
    opacity: 0.8;
    font-size: 1.5vw;
    color: white;
    padding-top: 0.3vw;
}

.second-navbar {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: white;
    background-color: #211F20;
    opacity: 0.9;
    font-size: 1.5vw;
    color: white;
    padding-top: 1vw;
    padding-bottom: 0.2vw;
}

.second-navbar-list {
    color: white;
}

.third-navbar {
    font-family: fantasy;
    text-align: center;
    color: white;
    background-color: #211F20;
    opacity: 0.8;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    z-index: 10;
    padding-right: 2vw !important;
}

.carousel-inner img {
      width: 100%;
      height: auto;
  }

.dropdown1 {
    position: relative;
    display: inline-block;
}

.dropdown-contents {
    display: none;
    position: absolute;
    min-width: 150px;
    padding: 12px;
    z-index: 1;
}

.dropdown1:hover .dropdown-contents {
    display: block;
    background-color: black;
}

.drop {     
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;    
    color: white;
}

.contact {
    color: white;
    font-size: 16px;
}

.contact1 {
    color: white;
    font-size: 13px;
}

.right-arrow {
    align-content: right;
    color: white;
}

.sub-heading {
    font-family: sans-serif;
    font-size: 10px;    
}

.division {
    border-right: 2px solid silver;
    opacity: 0.7;
}

.welcome-message {
    font-family: 'Acme', sans-serif;
    color: black;
    text-align: right;
}

.line {
    height: 30px ;
}

.button1 {
    background-color: transparent; 
    color: black; 
    border: 2px solid black;
}

.arrival {
    background-color: Transparent;
     color: white; 
    border: 2px solid white;
}

.calendar {
    font-family: 'Acme', sans-serif;
}

/*
.button3 {
    color: white; 
    border: 2px solid black;
    border-radius: 50px;
    padding: 4px;
}
*/

@media(min-width: 790px) {
    .col-1-5 {
        width: 20%;
        padding-right: 15px;
        padding-left: 15px;
        float: left;
        position: relative;
        min-height: 1px;
        
    }
}

.borders:hover {
    border-top: solid 2px #996515;
}

.headings {
    text-align: center;
    font-family: 'Acme', sans-serif;
    color: whitesmoke;
}

.underline {
    margin-left: 47%;
    margin-right: 47%;
    border-color: #996515;
}

.view-room {
    text-align: center;
    align-content: center;
}

.left-arrow { 
    width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-right: 10px solid white;
	border-bottom: 5px solid transparent;
}

.right-arrow {
    width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-left: 10px solid white;
	border-bottom: 5px solid transparent;
}

.room {
    width: 100%;
    height: 90%;
    border: 3px solid silver;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}
 
.room-name {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
}

.video1 {
    border: 1px solid silver;
}

.paragraph {
    font-family: 'Raleway', sans-serif;
    font-size: 0.9vw ;
    color: antiquewhite;
}

.fb-styles {
    background-color: #4167B2;
    font-size: 3.3vw;
}

.twitter-styles {
    background-color: #1DA1F3;
    font-size: 3.3vw;
}

.insta-styles {
   background-color: dimgrey;
   font-size: 3.3vw; 
}

.big-grid {
    height: 21%;
}

.para1 {
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: left;
}

.para2 {
    text-align: center;
}

.para3 {
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: right;
}

.useful-links {
    text-align: center;
    padding-top: 3vw;
}

.bottom-bar {
    background-color: #211F20;
    opacity: 0.9;
    padding-top: 2vw;
}